<div class="panel-body">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8">
                <pre>{{ indexes|json_encode|raw }}</pre>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-default createIndex" type="button">Create indexes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".createIndex").click(function () {
            var core = new Core();
            core.setBaseUrl("{{ baseUrl }}");
            var url = '{{ '/'|addCurrentPrefix }}' + "AP/{{ name }}/createIndex";
            core.send(url, {}, function () {
                location.reload();
            }, function () {
            }, function () {
            });
        });
    });
</script>