<div class="panel-body">
    <div class="col-lg-12">
        <div class="row">
            <table class="table table-bordered table-striped table-hover resizable">
                <tr>
                    <th><input class="selectAll" type="checkbox"></th>
                    {% for field, value in fields %}
                        <th title="{% if hints[field] is defined %}{{ hints[field] }}{% else %}{{ field }}{% endif %}">{{ field }}</th>
                    {% endfor %}
                </tr>
                {% for item in data %}
                    <tr id="{{ item[pk] }}">
                        <td><input class="selectField" type="checkbox"></td>
                        {% for field, value in fields %}
                            {% if validate[field] == 'isJSON' %}
                                <td style="{% if item[field]|length >= 256 %}min-width: 400px;{% else %}min-width: 200px;{% endif %}"
                                    class="item jsonPretty" data-model="{{ name }}" data-field="{{ field }}"
                                    data-validate="{{ validate[field] }}">{{ item[field]|raw }}</td>
                            {% else %}
                                <td style="{% if item[field]|length >= 512 %}min-width: 600px;{% elseif item[field]|length >= 256 %}min-width: 300px;{% else %}{% endif %}"
                                    class="item" data-model="{{ name }}" data-field="{{ field }}"
                                    data-validate="{{ validate[field] }}">{{ item[field]|raw }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <div class="modal bs-example-modal-sm " tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalAdd">
                Add
            </button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalDel">
                Delete selected
            </button>
            <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalAddLabel">Adding an entry</h4>
                        </div>
                        <div class="modal-body">
                            <form class="addForm">
                                {% for field, value in fields %}
                                    <div class="form-group">
                                        <label for="{{ field }}">{{ field }}</label>
                                        {% if validate[field] == 'isMongoId' %}
                                            <input data-field="{{ field }}" data-validate="{{ validate[field] }}"
                                                   type="text" class="form-control field" id="{{ field }}"
                                                   placeholder="{{ value }}" disabled>
                                        {% else %}
                                            <input data-field="{{ field }}" data-validate="{{ validate[field] }}"
                                                   type="text" class="form-control field" id="{{ field }}"
                                                   placeholder="{{ value }}" value="{{ value }}">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary saveItem">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="modalDelLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalDelLabel">Are you sure you want to delete the selected
                                entries?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary deleteItem">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="dialogLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit field</h4>
                        </div>
                        <div class="modal-body" id="dialog-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default fieldNonSave" data-dismiss="modal">No
                            </button>
                            <button type="button" class="btn btn-primary fieldSave">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var selectAll = false;
        $(".selectAll").click(function () {
            if (selectAll === false) {
                selectAll = true;
                $('.selectField').prop('checked', true);
            }
            else {
                selectAll = false;
                $('.selectField').prop('checked', false);
            }
        });

        $(".deleteItem").click(function () {
            var ids = [];
            $('.selectField').each(function () {
                if ($(this).prop("checked")) {
                    ids.push($(this).parent().parent().attr('id'));
                }
            });
            console.log(ids);
            var core = new Core();
            core.setBaseUrl("{{ baseUrl }}");
            var url = '{{ '/'|addCurrentPrefix }}' + "AP/{{ name }}/delete";

            core.send(url, {ids: ids}, function () {
                $('#modalDel').modal('hide');
                location.reload();
            }, function () {
                $('#modalDel').modal('hide');
            }, function () {
                $('#modalDel').modal('hide');
            });
        });

        $(".saveItem").click(function () {
            var params = {};
            $(".addForm").find(".field").each(function (index, item) {
                var value = $(item).val();
                var field = $(item).data("field");
                params[field] = value;
            });
            var core = new Core();
            core.setBaseUrl("{{ baseUrl }}");
            var url = '{{ '/'|addCurrentPrefix }}' + "AP/{{ name }}/edit";
            core.send(url, {doc: params}, function () {
                $('#modalAdd').modal('hide');
                location.reload();
            }, function () {
                $('#modalAdd').modal('hide');
            }, function () {
                $('#modalAdd').modal('hide');
            });
        });

        $('.jsonPretty').each(function () {
            $(this).html(JSON.stringify(JSON.parse($(this).html()), undefined, 2));
        });

        var _field;
        var _dialog = $("#dialog");

        _dialog.modal({
            show: false
        });

        $(".fieldSave").click(function () {
            var core = new Core();
            core.setBaseUrl("{{ baseUrl }}");
            var url = '{{ '/'|addCurrentPrefix }}' + "AP/{{ name }}/edit";
            var params = {};
            params[_field.getPk()] = _field.getId();
            params[_field.getField()] = _field.getContent();

            if (typeof params[_field.getPk()] !== 'undefined' && Object.keys(params).length === 1) {
                params[_field.getPk()] = _field.getId();
                params['_newId'] = _field.getContent();
            }

            core.send(url, {doc: params}, function () {
                _field.getElementField().html(_field.getContent());

                _dialog.modal('hide')
            }, function () {
                _dialog.modal('hide')
            }, function () {
                _dialog.modal('hide')
            });
        });

        $(".fieldNonSave").click(function () {
            _dialog.modal("hide");
        });

        function GetSettings(element, dialog) {
            var model = element.data('model');
            result = {
                'dialog': dialog,
                'element': element,
                'html': element.html(),
                'field': element.data('field'),
                'validate': element.data('validate'),
                'id': element.parent().attr('id')
            };
            return result;
        }

        $(".item").on('doubletap', function () {
            var content = _dialog.find('.modal-body');
            content.html('');
            content.removeAttr('style');

            _field = new FieldFactory(
                    GetSettings($(this), content),
                    "{{ pk }}"
            );
            _field.init();
            console.log('In .item: ' + _field.getPk() + ' = ' + _field.getId() + ' ');
            console.log(_field.getContent());
            _dialog.modal('show');
        });
    });
</script>
