<div class="panel-body">
    <div class="col-lg-12">
        <div class="row" id="baseForm">
            <form class="form-inline">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-8">
								<pre id="currentFilter" data-toggle="modal"
                                     data-target="#jsonRequest">{{ filter|json_encode|raw }}</pre>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-default clearFilter" type="button">Reset filter</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <label>Filter</label>
                            <div class="input-group col-sm-2">
                                <select class="form-control fields" name="filterField">
                                </select>
                            </div>
                            <div class="input-group col-sm-2">
                                <select class="form-control opers" name="filterOper">
                                </select>
                            </div>
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control" name="filterValue"
                                       placeholder="Search for...">
                                <span class="input-group-btn">
								        <button class="btn btn-default addFilter" type="button">Add filter</button>
								      </span>
                            </div>
                        </div>
                        <!-- /input-group -->
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <label>Sorting</label>
                            <div class="input-group col-sm-2">
                                <select class="form-control fields" name="sortField">
                                </select>
                            </div>
                            <div class="input-group col-sm-4">
                                <select class="form-control sorts" name="sortValue">
                                </select>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="currentFilters">
                                {% for key, item in filter %}
                                    <pre id="{{ key }}"><button type="button"
                                                                class="btn btn-danger btn-xs removeFilterButton">x
											</button> {{ key }} = {{ item|json_encode|raw }}</pre>
                                {% endfor %}
                            </div>
                            <button class="btn btn-default sendFilter" type="button">Apply</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <form class="form-inline">
                                <div class="col-lg-6">
                                    <select class="form-control perPages" name="perPage">
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2">
                            <a class="btn btn-default" role="button"
                               href="{{ '/'|addCurrentPrefix }}AP/{{ name }}/export{{ query }}">Export</a>
                        </div>
                        <div class="col-lg-4">
                            <form class="form-inline" action="{{ '/'|addCurrentPrefix }}AP/{{ name }}/import"
                                  method="POST"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="importInputFile">File to import (.csv)</label>
                                    <input type="file" id="importInputFile" name="import">
                                </div>
                                <button type="submit" class="btn btn-default">Import</button>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.row -->
        <div class="modal fade" id="jsonRequest" tabindex="-1" role="dialog" aria-labelledby="jsonRequest">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="jsonRequestLabel">Update request</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Find query:</label>

                                <div id="message-text"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateRequest" data-dismiss="modal">Send
                            message
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var fields = {{ fields|json_encode|raw }};
        var filter = {{ filter|json_encode|raw }};
        var sort = [];
        {% if sort is iterable %}
        sort = {{ sort|json_encode|raw }};
        {% endif %}
        var perPages = {{ perPages|json_encode|raw }};
        var perPage = {{ perPage }};

        var filterManager = new FilterManager();

        filterManager.setFields(fields);
        filterManager.setFilter(filter);
        filterManager.setSort(sort);
        filterManager.setPerPages(perPages);
        filterManager.setPerPage(perPage);

        filterManager.init();
        filterManager.setCurrentFilter();
        filterManager.setCurrentSort();

        $(".fields").select2({
            tokenSeparators: [',', ' ']
        });
        $(".opers").select2({
            tokenSeparators: [',', ' ']
        });
        $(".sorts").select2({
            tokenSeparators: [',', ' ']
        });

        $('.perPages').change(function () {
            $(this).find(':checked').each(function () {
                filterManager.setPerPage($(this).val());
                filterManager.sendFilter();
            });
        });

        $('.clearFilter').click(function () {
            filterManager.clearFilter();
        });

        $('.sendFilter').click(function () {
            var sort = {};
            var field = '';
            var value = '';

            $('form select[name=sortField]').find(':selected').each(function () {
                field = $(this).val();
            });
            $('form select[name=sortValue]').find(':selected').each(function () {
                value = Number($(this).val());
            });
            if (field.length > 0) {
                sort[field] = value;
                filterManager.setSort(sort);
            }

            var filter = {};
            var field = '';
            var oper = '';

            $('form select[name=filterField]').find(':selected').each(function () {
                field = $(this).val();
            });
            $('form select[name=filterOper]').find(':selected').each(function () {
                oper = $(this).val();
            });
            var value = $('form input[name=filterValue]').val();

            if (value.length > 0) {
                $('#currentFilter').html(JSON.stringify(filterManager.getFilter()));
            }
            filterManager.sendFilter();
        });

        $('.removeFilterButton').click(function () {
            var field = $(this).parent().attr("id");
            console.log(field);
            $("#" + field).remove();
            filterManager.removeFilter(field);
        });

        $('.addFilter').click(function () {
            var filter = {};
            var field = '';
            var oper = '';
            $('form select[name=filterField]').find(':selected').each(function () {
                field = $(this).val();
            });
            $('form select[name=filterOper]').find(':selected').each(function () {
                oper = $(this).val();
            });
            var value = $('form input[name=filterValue]').val();
            if (value.length > 0) {
                filter[field] = {};
                filter[field][oper] = value;
                filterManager.setFilter(filter);
                filter = filterManager.getFilter();

                $("#" + field).remove();
                var html = '<pre id="' + field + '"><button type="button" class="btn btn-danger btn-xs removeFilterButton">x</button> ' + field + ' = ' + JSON.stringify(filter[field]) + '</pre>';
                $(".currentFilters").append(html);
            }
        });


        $(document).on("click", ".removeFilterButton", function () {
            var field = $(this).parent().attr("id");
            $(this).closest('pre').remove();
            filterManager.removeFilter(field);
        });

        var _JSONEditor;
        $('#jsonRequest').on('show.bs.modal', function (event) {
            $('#message-text').height(400);
            var options = {
                mode: 'code',
                change: function () {
                    if (typeof _JSONEditor !== 'undefined') {
                        try {
                            var filter = _JSONEditor.getText();
                            filterManager.replaceFilter(JSON.parse(filter));
                            $('#currentFilter').html(filter);
                        }
                        catch (e) {
                        }
                    }
                }
            };
            if (typeof _JSONEditor === 'undefined') {
                _JSONEditor = new JSONEditor(document.getElementById('message-text'), options, filterManager.getFilter());
            }
        });
        $('.updateRequest').click(function () {
            filterManager.sendFilter();
        });
    });
</script>
