<div class="panel-body">
    <div class="col-lg-12">
        <div class="row">
            <nav>
                <ul class="pagination">
                    <li {% if page - 1 < 0 %}class="disabled"{% endif %}>
                        <a href="{% if page - 1 >= 0 %}{{ '/'|addCurrentPrefix }}AP/{{ name }}/view/{{ page - 1 }}{{ query }}{% else %}#{% endif %}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for elm in pagination %}
                        {% if elm == -1 %}
                            <li><a href="#">...</a></li>
                        {% else %}
                            <li {% if elm == page %}class="active"{% endif %}><a
                                        href="{{ '/'|addCurrentPrefix }}AP/{{ name }}/view/{{ elm }}{{ query }}">{{ elm }} {% if elm == page %}
                                        <span class="sr-only">(current)</span>{% endif %}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li {% if page + 1 > pages %}class="disabled"{% endif %}>
                        <a href="{% if page + 1 <= pages %}{{ '/'|addCurrentPrefix }}AP/{{ name }}/view/{{ page + 1 }}{{ query }}{% else %}#{% endif %}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>