<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock %}">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block head_title %}Core{% endblock %}</title>
        {% block head_include %}
            <!-- jQuery -->
            <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.min.css">
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda-themeless.min.css">
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/jsoneditor/4.1.3/jsoneditor.min.css">
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/simplemde/1.10.1/simplemde.min.css">
            <link rel="stylesheet"
                  href="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
{% endblock %}
{% block body %}
    <body>
    {% block body_main %}
    {% endblock %}
    </body>
{% endblock %}
{% block body_include %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/spin.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.js"></script>

    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/jsoneditor/4.1.3/jsoneditor.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.full.min.js"></script>

    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/simplemde/1.10.1/simplemde.min.js"></script>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="{{ getScheme() }}://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
    <script src="{{ getScheme() }}://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.3.1/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="/resources/Core.js"></script>
    <script src="/resources/Field.js"></script>
    <script src="/resources/FilterManager.js"></script>
    <script src="/resources/jquery.finger.min.js"></script>
    <script src="/resources/sprintf.min.js"></script>
    <script src="/resources/jquery.tmpl.js"></script>
    <script src="/resources/underscore-min.js"></script>

    <script>
        $.fn.modal.Constructor.prototype.enforceFocus = function () {
            modal_this = this
            $(document).on('focusin.modal', function (e) {
                if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
                    modal_this.$element.focus()
                }
            })
        };
    </script>
{% endblock %}
</html>