{% extends "./base.html.twig" %}
{% block body_main %}
    {{ parent() }}
    {{ navbar|raw }}
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="model">Select collection</label>
                                <select class="form-control" name="model" id="model">
                                    {% for key,item in models %}
                                        <option value="{{ item.model }}"
                                                {% if param.model == key %}selected=""{% endif %}>{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="fields">Select field of the collection</label>
                                <select class="form-control" id="exportFields" name="exportFields[]" multiple="multiple"
                                        style="width: 200px;">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row" id="baseForm">
                <form class="form-inline">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label>Filter</label>

                                <div class="input-group col-sm-2">
                                    <select class="form-control fields" name="filterField">
                                    </select>
                                </div>
                                <div class="input-group col-sm-2">
                                    <select class="form-control opers" name="filterOper">
                                    </select>
                                </div>
                                <div class="input-group col-sm-6">
                                    <input type="text" class="form-control" name="filterValue"
                                           placeholder="Search for...">
                                    <span class="input-group-btn">
								        <button class="btn btn-default addFilter" type="button">Add filter</button>
								      </span>
                                </div>
                            </div>
                            <!-- /input-group -->
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <label>Grouping</label>

                                <div class="input-group col-sm-2">
                                    <select class="form-control" name="dateGroupField" id="dateGroupField">
                                    </select>
                                </div>
                                <div class="input-group col-sm-4">
                                    <select class="form-control" name="groupType" id="groupType">
                                        <option value="default">Default</option>
                                        <option value="byDay">By day</option>
                                        <option value="byMonth">By month</option>
                                    </select>
                                </div>
                                <!-- /input-group -->
                            </div>
                            {#<div class="col-lg-6">#}
                            {#<label>Sorting</label>#}

                            {#<div class="input-group col-sm-2">#}
                            {#<select class="form-control fields" name="sortField">#}
                            {#</select>#}
                            {#</div>#}
                            {#<div class="input-group col-sm-4">#}
                            {#<select class="form-control sorts" name="sortValue">#}
                            {#</select>#}
                            {#</div>#}
                            {#<!-- /input-group -->#}
                            {#</div>#}
                            <!-- /.col-lg-6 -->
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="currentFilters">
                                </div>
                                <button class="btn btn-default sendFilter" type="button">Export</button>
                                <button class="btn btn-default" type="button" data-toggle="modal"
                                        data-target="#backgroundExportModal">Deferred export
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Getting the previously stored data
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="checkResult"></div>
                </div>
            </div>

            <div class="row">
                <form class="form">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Enter the ID of deferred exports</label>
                            <input type="text" class="form-control" placeholder="36256bb9ebaedeb0a865e8b4576"
                                   id="checkId">
                        </div>
                        <button class="btn btn-default checkExportId" type="button">Check</button>
                        <button class="btn btn-default backgroundExportByIdButton" type="button">Download</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="backgroundExportModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Информация</h4>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="form-group resultMessage" hidden>
                            <label>Message from server</label>
                            <pre id="resultMessage"></pre>
                        </div>
                        <div class="form-group resultCheckId" hidden>
                            <label>ID to check and download</label>
                            <pre id="resultCheckId"></pre>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block body_include %}
    {{ parent() }}

    <script>
        $(function () {
            var fields = [];
            var filter = [];
//			var sort = [];
            var filterManager = new FilterManager();

            function getFields(model) {
                $("#dateGroupField").empty();
                $("#exportFields").empty();
                $(".currentFilters").html('');
                filterManager.clearFilter();
                $.ajax({
                    type: "POST",
                    url: '{{ '/'|addCurrentPrefix }}' + "AP/exportHelper/getModelDateFields",
                    data: {
                        model: model
                    },
                    success: function (data) {
                        data = data.response;
                        var first = true;
                        for (var key in data) {
                            if (first) {
                                $("#dateGroupField").append('<option value="' + key + '" selected>' + key + '</option>');
                            }
                            else {
                                $("#dateGroupField").append('<option value="' + key + '">' + key + '</option>');
                            }
                            first = false;
                        }
                        $("#dateGroupField :first").attr("selected", "selected");

                        $("#dateGroupField").select2({
                            tokenSeparators: [',', ' ']
                        });
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '{{ '/'|addCurrentPrefix }}' + "AP/exportHelper/getModelFields",
                    data: {
                        model: model
                    },
                    success: function (data) {
                        data = data.response;


                        var first = true;
                        for (var key in data) {
                            if (first) {
                                $("#exportFields").append('<option value="' + key + '" selected>' + key + '</option>');
                            }
                            else {
                                $("#exportFields").append('<option value="' + key + '">' + key + '</option>');
                            }
                            first = false;
                        }
                        $("#exportFields :first").attr("selected", "selected");

                        filterManager.setFields(data);
                        filterManager.initFields();

                        $("#exportFields").select2({
                            tokenSeparators: [',', ' ']
                        });
                        $("#model").select2({
                            tokenSeparators: [',', ' ']
                        });
                        $(".fields").select2({
                            tokenSeparators: [',', ' ']
                        });
                        $(".opers").select2({
                            tokenSeparators: [',', ' ']
                        });
//						$(".sorts").select2({
//							tokenSeparators: [',', ' ']
//						});

                    }
                });
            }

            $("#model").change(function () {
                getFields($(this).val());
            }).change();

            filterManager.setFields(fields);
            filterManager.setFilter(filter);
//			filterManager.setSort(sort);

            filterManager.init();
            filterManager.setCurrentFilter();
//			filterManager.setCurrentSort();

            $("#groupType").select2({
                tokenSeparators: [',', ' ']
            });
            $("#dateGroupField").select2({
                tokenSeparators: [',', ' ']
            });
            $("#exportFields").select2({
                tokenSeparators: [',', ' ']
            });
            $("#model").select2({
                tokenSeparators: [',', ' ']
            });
            $(".fields").select2({
                tokenSeparators: [',', ' ']
            });
            $(".opers").select2({
                tokenSeparators: [',', ' ']
            });
            $(".sorts").select2({
                tokenSeparators: [',', ' ']
            });

            $('.clearFilter').click(function () {
                filterManager.clearFilter();
            });
            $('.sendFilter').click(function () {
//				var sort = {};
//				var field = '';
//				var value = '';
//				$('form select[name=sortField]').find(':selected').each(function () {
//					field = $(this).val();
//				});
//				$('form select[name=sortValue]').find(':selected').each(function () {
//					value = Number($(this).val());
//				});
//				if (field.length > 0) {
//					sort[field] = value;
//					filterManager.setSort(sort);
//				}

                var filter = {};
                var field = '';
                var oper = '';

                $('form select[name=filterField]').find(':selected').each(function () {
                    field = $(this).val();
                });
                $('form select[name=filterOper]').find(':selected').each(function () {
                    oper = $(this).val();
                });
                var value = $('form input[name=filterValue]').val();

                if (value.length > 0) {
                    $('#currentFilter').html(JSON.stringify(filterManager.getFilter()));
                }

                var fields = $('#exportFields').val();
                var str = '';
                for (var i in fields) {
                    str += 'fields[]=' + fields[i] + '&';
                }


                var groupType = $('#groupType').val();
                var dateGroupField = $('#dateGroupField').val();

                location.replace('{{ '/'|addCurrentPrefix }}' + 'AP/exportHelper/exportByGroup'
//						+'?sort=' + JSON.stringify(filterManager.getSort())
                        + '?filter=' + JSON.stringify(filterManager.getFilter())
                        + '&model=' + $('#model').val()
                        + '&groupType=' + groupType
                        + '&dateGroupField=' + dateGroupField
                        + '&' + str);
            });

            $('.removeFilterButton').click(function () {
                var field = $(this).parent().attr("id");
                console.log(field);
                $("#" + field).remove();
                filterManager.removeFilter(field);
            });
            $('.addFilter').click(function () {
                var filter = {};
                var field = '';
                var oper = '';
                $('form select[name=filterField]').find(':selected').each(function () {
                    field = $(this).val();
                });
                $('form select[name=filterOper]').find(':selected').each(function () {
                    oper = $(this).val();
                });
                var value = $('form input[name=filterValue]').val();
                if (value.length > 0) {
                    filter[field] = {};
                    filter[field][oper] = value;
                    filterManager.setFilter(filter);
                    filter = filterManager.getFilter();

                    $("#" + field).remove();
                    var html = '<pre id="' + field + '"><button type="button" class="btn btn-danger btn-xs removeFilterButton">x</button> ' + field + ' = ' + JSON.stringify(filter[field]) + '</pre>';
                    $(".currentFilters").append(html);
                }
            });
            $(document).on("click", ".removeFilterButton", function () {
                var field = $(this).parent().attr("id");
                $(this).closest('pre').remove();
                filterManager.removeFilter(field);
            });
            $('.updateRequest').click(function () {
                filterManager.sendFilter();
            });

            var timeout;

            function checkExportId(checkId) {
                $(".checkResult").html('');
                $.ajax({
                    type: "POST",
                    url: '{{ '/'|addCurrentPrefix }}' + "AP/exportHelper/checkId",
                    data: {
                        checkId: checkId
                    },
                    success: function (data) {
                        if (data.response.result) {
                            $(".checkResult").removeClass('bg-warning').removeClass('bg-success').addClass('bg-success');
                            $(".checkResult").html('Finished');
                        }
                        else {
                            $(".checkResult").removeClass('bg-warning').removeClass('bg-success').addClass('bg-warning');
                            $(".checkResult").html('Working');
                            timeout = setTimeout(function () {
                                checkExportId(checkId)
                            }, 2000);
                        }
                    }
                });
            }


            $('#backgroundExportModal').on('show.bs.modal', function (e) {
//				var sort = {};
//				var field = '';
//				var value = '';
//				$('form select[name=sortField]').find(':selected').each(function () {
//					field = $(this).val();
//				});
//				$('form select[name=sortValue]').find(':selected').each(function () {
//					value = Number($(this).val());
//				});
//				if (field.length > 0) {
//					sort[field] = value;
//					filterManager.setSort(sort);
//				}

                var filter = {};
                var field = '';
                var oper = '';

                $('form select[name=filterField]').find(':selected').each(function () {
                    field = $(this).val();
                });
                $('form select[name=filterOper]').find(':selected').each(function () {
                    oper = $(this).val();
                });
                var value = $('form input[name=filterValue]').val();

                if (value.length > 0) {
                    $('#currentFilter').html(JSON.stringify(filterManager.getFilter()));
                }

                var groupType = $('#groupType').val();
                var dateGroupField = $('#dateGroupField').val();

                $(".resultMessage").hide();
                $(".resultCheckId").hide();
                $(".emailBlock").hide();
                $("#resultMessage").html('');
                $("#resultCheckId").html('');
                $.ajax({
                    type: "POST",
                    url: '{{ '/'|addCurrentPrefix }}' + "AP/exportHelper/exportByGroup",
                    data: {
                        model: $('#model').val(),
                        fields: $('#exportFields').val(),
                        filter: JSON.stringify(filterManager.getFilter()),
                        groupType: groupType,
                        dateGroupField: dateGroupField,
//						sort: JSON.stringify(filterManager.getSort()),
                        cacheInDb: true
                    },
                    success: function (data) {
                        if (data.response.exportId) {
                            var checkId = data.response.exportId;
                            $(".resultCheckId").show();
                            $(".emailBlock").show();
                            $("#resultCheckId").html(checkId);
                            $('#exportIdSend').val(checkId);
                        }
                    },
                    error: function (jqXHR) {
                        if (typeof jqXHR.responseJSON.response.message !== 'undefinied') {
                            $(".resultMessage").show();
                            $("#resultMessage").html(jqXHR.responseJSON.response.message);
                        }
                    }
                });
            });

            $(".checkExportId").click(function () {
                if ($('#checkId').val()) {
                    if (timeout) {
                        clearTimeout(timeout);
                    }
                    checkExportId($('#checkId').val())
                }
            }).change();

            function backgroundExport(checkId) {
                $(".checkResult").html('');
                $.ajax({
                    type: "POST",
                    url: '{{ '/'|addCurrentPrefix }}' + "AP/exportHelper/checkId",
                    data: {
                        checkId: checkId
                    },
                    success: function (data) {
                        if (data.response.result) {
                            location.replace('{{ '/'|addCurrentPrefix }}' + 'AP/exportHelper/exportById?id=' + checkId);
                        }
                        else {
                            $(".checkResult").removeClass('bg-warning').removeClass('bg-success').addClass('bg-warning');
                            $(".checkResult").html('Working');
                            timeout = setTimeout(function () {
                                backgroundExport(checkId)
                            }, 2000);
                        }
                    }
                });
            }

            $('.backgroundExportByIdButton').click(function () {
                if ($('#checkId').val()) {
                    if (timeout) {
                        clearTimeout(timeout);
                    }
                    backgroundExport($('#checkId').val())
                }
            });
        });
    </script>
{% endblock %}
