{% extends "./base.html.twig" %}

{% block body_main %}
    {{ parent() }}
    {{ navbar|raw }}
    <div class="panel">
        {{ filter|raw }}
        {{ content|raw }}
        {{ pagination|raw }}
        {{ indexes|raw }}
    </div>
{% endblock %}